{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "always",
  "printWidth": 120,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^next",
    "^react",
    "^aws-amplify",
    "^@/root/(.*)$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/amplify/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
